/* Boostrap 4 twicks to reduce global size */

html {
    font-size: 14px;
}

.container {
    margin-top: 5px;
}

h1 {
    /* margin-top: 60px; */
    font-size: 22px
}

/*
.navbar {
    background-color: #27ae60;
    border-color: #27ae60;
    color: white;
}*/

/* Custom CSS */

.input-numeric {
    text-align: right;
    width: 75px !important;
}

/* Table width adapted to content instead of 100% of parent */

.table-custom-auto-width {
    width: auto;
}

/* Table cell width adapted to parent with non word wrap */

.table-custom-fit td, .table-custom-fit th {
    white-space: nowrap;
    width: 1%;
}

/* Input spinner */

/* 
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    height: auto;
} */

/* 
.stepper {
    border: 1px solid #eee;
    display: inline-block;
    overflow: visible;
    height: 2.1em;
    background: #fff;
    padding: 1px;
} */

.stepper input {
    width: 30px !important;
    height: 100%;
    text-align: center;
    border: 0;
    background: transparent;
    color: #000;
}

/* 
.stepper button {
    width: 1.4em;
    font-weight: 300;
    height: 100%;
    line-height: 0.1em;
    font-size: 1.4em;
    padding: 0.2em !important;
    background: #eee;
    color: #333;
    border: none;
} */